.App { 
  text-align: center;
}

              /* card */
.movieList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center; 
  align-items: stretch;
  gap: 20px;
  
}

.card {
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  object-fit: contain;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.748);
}
